{% extends 'shop/basic.html' %}
{% block title%} About Us{% endblock %}
{% block body %}
<main role="main" >
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron"  >
    <div class="container" style="background-color: mistyrose">
      <h1 class="display-3">My VanillaCart!</h1>
      <p>VanillaCart Pvt Ltd. is an website for Indian electronic commerce company, based in gurugram ,India.
        Founded by poonam <strong>:p</strong> in 2020, the company focused on categories such as electronics, fashion, and lifestyle products.
        The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.as of june 2020,
        VanillaCart held a 3.5% market share of India's e-commerce industry. VanillaCart is significantly dominant in the sale
        of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being
        "neck and neck" with Amazon in the sale of electronics and mobile phones.
         VanillaCart also owns PhonePe, paytm, a mobile payments service based on the Unified Payments Interface (UPI).
        In August 2020, U.S.-based retail chain Walmart acquired a 47% controlling stake in VanillaCart for US$ 5 Million,
        valuing it at $7 Million.</p>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/" role="button" style="background-color: dimgray">Learn more »</a></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row" >

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Services</h2>
        <p>VanillaCart provide you an online platform
          where you can buy basic electronics, genral things, fashion outfits etc.
          VanillaCart give you access to track your order and also provide you online payment methods.
          you can give your feedback about product and services of VanillCart.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Business structure</h2>
        <p>
          According to a report in march 2020, VanillaCart was operating through a very simple business
          structure which included three firms,  registered in India. In 2020,
          VanillaCart launch the IPO in may 2020 and thus arrange money so that company can reach to the new heights .
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Future Goals</h2>
        <p>VanillaCart is at beginning stage, we have a lot of ideas
          to show our skills, concern for customers, dedication towards work and our learning and adaptation
          for new technologies.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>
{% endblock %}