{% extends 'shop/basic.html' %}
{% block title%} My VanillaCart Tracker{% endblock %}
{% block body %}
<body style="background-color: azure">
<div class="container">
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        <H3 style="background-color: forestgreen">ORDER SUCCESS</H3>
        {% else %}
        <H3 style="background-color: indianred">ORDER FAILURE</H3>
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>
</script>
</body>
{% endblock %}